/OLD/Copilot.py
/OLD/fuse_from_obj.py
/OLD/mark_acf_fuselage_endcaps.py
/OLD/obj2PM.py
/OLD/PM_blender_style.py
/OLD/PM_blender_style_001.py
/OLD/PM_bodies_module_v001.py
/OLD/PM_bodies_multimesh.py
/OLD/PM_bodies_single.py
/OLD/PM_importer_001.py
/OLD/PM_importer_002.py
/OLD/PM_importer_003.py
/OLD/PM_importer_004.py
/OLD/PM_Importer_alpha.py
/OLD/PM_Importer_alpha_centered.py
/OLD/PM_Importer_alpha_centered_groups.py
/OLD/PM_Importer_broken.py
/OLD/PM_importer_v002_Copilot.py
/OLD/PM_importer_v002_MObject.py
/OLD/print loops.py
/OLD/roundtrip_fuselage_ok.py
/OLD/roundtrip_fuselage_sb.py
/OLD/roundtrip_fuselage_sb1.py
/OLD/test_winding_from_obj.py
/OLD/Wings.py
/OLD/Wings_001.py
